# ========== GENERAL SETTINGS ==========
SECRET_KEY=django-insecure-123456789
DEBUG=True
ALLOWED_HOSTS=*

# ========== EMAIL CONFIGURATION ==========

EMAIL_HOST_USER=arthmd0z@gmail.com
EMAIL_HOST_PASSWORD=jqcihemndmaqxyrl   # App Password حقيقي من Gmail

# ========== GOOGLE OAUTH (TEMP DUMMY) ==========
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy



# PAYMOB SETTINGS
# 1. Get your API Key from Paymob Dashboard -> Settings
PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFME9URTFNaXdpYm1GdFpTSTZJakUzTnpVeE16TXdPVFV1TlRRM01qZzNJbjAucy1oTFpqZmU4b3JVRk90eGpaZDE3WWlVai1aRm1GY0haX1NLT0hBckp5TGxfMkN4bzdyX2VuUzRwZ0M5bnVHamtyUmVsT2VOQVBHeVIwYm5GekdxT3c=
# 2. Go to Developers -> Payment Integrations to get IDs for Card and Wallet
PAYMOB_INTEGRATION_ID_CARD=5601831
PAYMOB_INTEGRATION_ID_WALLET=5601855

# 3. Go to Developers -> iframes to get the iframe ID. Setup the iframe URL in the dashboard.
PAYMOB_IFRAME_ID=1027602

# 4. HMAC Secret can be found under Settings -> HMAC Secret
PAYMOB_HMAC_SECRET=3C265E654F9CCC8885B0EADCFAF5C916

GEMINI_API_KEY=AIzaSyCa-0MSifO9LPWsJemxVM0FnT_08l-5rnI


